@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 1rem 0;
}

.post-content a {
  color: rgb(74, 150, 180);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: bisque;
}

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
